body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 76px;
    background-color: #3c4cad;
    color: white;
    white-space: nowrap;
}

header div{
    height: 100%;
    margin: auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
    margin-left: 35px;
    overflow: hidden;
}

header a:first-child{
    margin-left: 0;
}

.mobile_menu_button {
    display: none;
    border-bottom: 17px double white; 
    border-top: 6px solid white; 
    content:"";
    height: 5px; 
    width:30px;
    cursor: pointer;
}

.mobile_menu_opened{
    display: none;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
    background: #5e72eb;
    width: 93%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

main div{
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 46px auto;
    max-width: 1080px;
    padding: 1px 0;
    height: auto;
}

main h4{
    margin: 20px;
}

main .new_user_form{
    margin: 0 48px;
}

main .new_user_form form input{
    width: 42%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding-left: 25px;
    margin-bottom: 25px;
}

main .new_user_form form input:nth-of-type(2n){
    float: right;
}

main .new_user_form form input[type="submit"]{
    background-color: #56c596;
    color: white;
    cursor: pointer;
    width: calc(42% + 25px);
}

footer{
    position: absolute;
    background-color: #414141;
    color: white;
    font-weight: bold;
    bottom: 0;
    width: 100%;
}

footer div{
    margin: auto;
    max-width: 1080px;
}

@media screen and (max-width: 600px) {
    header nav{
        display: none;
    }

    .mobile_menu_button {
        display: block;
    }

    .mobile_menu_opened a{
        display: block;
        padding: 8px;
        margin: 0;
    }

    main{
        display: block;
        width: 100%;
    }


    header div, footer div, main{
        padding: 1px 20px;
        box-sizing: border-box;
    }

    main .new_user_form form input{
        width: 100%;
    }

    main .new_user_form form input:nth-of-type(2n){
        float: none;
    }

    main .new_user_form form input[type="submit"]{
        width: calc(100% + 25px);
    }

    footer{
        bottom: auto;
    }
}