body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.width1080{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header{
    height: 85px;
    background-color: #3c4cad;
}

header h3{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

header nav a{
    padding-left: 15px;
}

header a{
    color: white;
    overflow: hidden;
}

.mobile_menu_button {
    display: none;
    border-bottom: 17px double white; 
    border-top: 6px solid white; 
    content:"";
    height: 5px; 
    width:30px;
    cursor: pointer;
}

.mobile_menu_opened{
    display: none;
    position: absolute;
    margin-top: 70px;
    z-index: 1;
    background: #5e72eb;
    width: 93%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

.mobile_menu_opened a {
    display: block;
}

.find_authorize{
    height: 50px;
    background-color: #5e72EB;
    align-items: center;
}

.find_authorize input{
    border-radius: 5px;
    height: 30px;
    width: 235px;
    border: none;
}

.find_authorize a{
    color: white;
}

#find_button{
    background-color: #56c596;
    width: 74px;
    color: white;
    margin-left: 6px;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}

.left_col{
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 5px 50px 0 #c4b5b5;
    margin: 30px 15px 70px 0;
    padding: 1px 0;
}

.article_info{
    display: flex;
    justify-content: space-between;
    margin: 22px;
}

.article_info h4{
    margin: 0;
}

.article p{
    margin: 0 22px;
}

.comments_all{
    margin: 0 22px;
}

.comment{
    display: flex;
}

#avatar{
    width: 50px;
    height: 50px;
}

.comment_text h3{
    margin: 0;
}

.comment_text{
    margin-left: 22px;
}

.add_comment{
    margin: 22px;
}

#comment_input{
    max-width: 100%;
}

#add_comment_button{
    display: block;
    background-color: #56c596;
    width: 95px;
    height: 30px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.right_col{
    width: 25%;
    border-radius: 5px;
    box-shadow: 0 5px 50px 0 #c4b5b5;
    margin: 30px 0 70px 15px;    
    padding: 1px 0;
    height: fit-content;
}

.right_col li{
    list-style: none;
}

.article_nav{
    margin-left: 0;
    padding-left: 22px;
}

.article_nav a{
    color: black;
}

footer{
    background-color: #414141;
    color: white;
    font-weight: bold;
	bottom: 0;
}

footer div{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    header nav{
        display: none;
    }

    header nav a{
        padding: 6px 0;
    }

    .find_authorize a{
        display: none;
    }

    .mobile_menu_button {
        display: block;
    }

    .main{
        display: block;
    }

    .main .left_col , .right_col{
        width: 100%;
        margin-left: 0;
    }

    .width1080, .main, footer div{
        padding: 0 20px;
    }
    
}