body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.width1080{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header{
    height: 85px;
    background-color: #3c4cad;
}

header h3{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

header nav a{
    padding-left: 15px;
}

header a{
    color: white;
    overflow: hidden;
}

.mobile_menu_button {
    display: none;
    border-bottom: 17px double white; 
    border-top: 6px solid white; 
    content:"";
    height: 5px; 
    width:30px;
    cursor: pointer;
}

.mobile_menu_opened{
    display: none;
    position: absolute;
    margin-top: 70px;
    z-index: 1;
    background: #5e72eb;
    width: 93%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

.mobile_menu_opened a {
    display: block;
}

.find_authorize{
    height: 50px;
    background-color: #5e72EB;
}

.find_authorize input{
    border-radius: 5px;
    height: 30px;
    width: 235px;
    border: none;
}

.width1080 form{
	margin: auto 0;
}


.find_authorize a{
    color: white;
}


#find_button{
    background-color: #56c596;
    width: 74px;
    color: white;
    margin-left: 6px;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}

.left_col{
    width: 30%;
    border-radius: 5px;
    margin: 30px 15px 70px 0;
}

.left_col input{
    width: 100%;
    border-radius: 5px;
    height: 38px;
    border: 1px solid #e4e4e4;
    margin: 5px 0;
    padding: 0;
}

#auth_button{
    background-color: #56c596;
    width: 100%;
    color: white;
    padding: 0;
    margin: 15px 0;
    cursor: pointer;
}

.right_col{
    width: 65%;
    margin: 30px 0 70px 15px;
}

.right_col input{
    width: 45%;
    padding: 0;
    border-radius: 5px;
    height: 38px;
    border: 1px solid #e4e4e4;
    margin: 5px 0;
}

.right_col input:nth-of-type(2n){
    float: right;
}


#reg_button{
    background-color: #56c596;
    width: 100%;
    color: white;
    margin: 15px 0;
    cursor: pointer;
}

footer{
    position: absolute;
    background-color: #414141;
    color: white;
    font-weight: bold;
    bottom: 0;
    width: 100%;
}

footer div{
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    header nav{
        display: none;
    }

    header nav a{
        padding: 6px 0;
    }

    .find_authorize a{
        display: none;
    }

    .mobile_menu_button {
        display: block;
    }

    .main{
        display: block;
    }

    .main .left_col , .right_col{
        width: 100%;
        margin-left: 0;
    }

    .right_col input{
        width: 100%;
    }

    .width1080, .main, footer div{
        padding: 0 20px;
    }

    footer{
        position: unset;
    }
}