body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

header{
    height: 20px;
    width: 100%;
    background-color: #3c4cad;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px 0;
}

header h3{
    margin: 0 135px;
    padding: 0;
}

header nav{
    margin: 0 135px;
}

header nav a{
    padding-left: 15px;
}

header a{
    color: white;
}

.find_authorize{
    height: 50px;
    display: flex;
    background-color: #5e72EB;
    justify-content: space-between;
    align-items: center;
}

.find_authorize input{
    border-radius: 5px;
    height: 30px;
    width: 235px;
    border: none;
    margin: 0 0 0 135px;
}

.find_authorize a{
    color: white;
    margin: 0 135px;
}

#find_button{
    background-color: #56c596;
    width: 74px;
    color: white;
    margin-left: 6px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.left_col{
    width: 70%;
    float: left;
    border-radius: 5px;
    box-shadow: 0 5px 50px 0 #e3e3e3;
    margin: 30px 15px 70px 135px;
}

.article_info{
    display: flex;
    justify-content: space-between;
    margin: 22px;
}

.article_info h4{
    margin: 0;
}

.article p{
    margin: 0 22px;
}

.comments_all{
    margin: 0 22px;
}

.comment{
    display: flex;
}

#avatar{
    width: 50px;
    height: 50px;
}

.comment_text h3{
    margin: 0;
}

.comment_text{
    margin-left: 22px;
}


#add_comment_button{
    display: block;
    background-color: #56c596;
    width: 95px;
    height: 30px;
    color: white;
    margin-left: 6px;
    border-radius: 5px;
    border: none;
}

.right_col{
    width: 25%;
    float: right;
    border-radius: 5px;
    box-shadow: 0 5px 50px 0 #e3e3e3;
    margin: 30px 135px 70px 15px;    
}

.right_col li{
    list-style: none;
}

.article_nav{
    margin-left: 0;
    padding-left: 22px;
}

.article_nav a{
    color: black;
}

footer{
    background-color: #414141;
    color: white;
    height: 56px;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
	bottom: 0;
}

footer p {
    margin: 0 135px;
}